body{background-image: url("development-banner.jpg");
    color: white;}
#baner{display: inline-flex;
    align-content: center; 
    margin-left: 35%;} 
#RS{margin-left:15px;}
#meni{margin-left: 20%;}
#meni ul{list-style: none;}
#meni ul li{display: inline;
    padding-left: 50px;}
#footer{clear: both; 
        font-style:italic;
         font-size: medium; 
         margin-left: 29%;}
a{color: red;}
.profesori{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 50px;
    row-gap: 10px;
    width: 400px;
    height: 900px;
    padding-left:32%;
}

.stavkep div{border:1px solid black; text-align: center;background-color: rgb(0, 0, 204,0.4);}
h2{font-size: 30px;
padding-left: 43%;}
.profesori img{padding:5%; padding-left: 10%;}
.asistenti{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap:50px;
    row-gap:10px;
    width:600px;
    height: auto;
    padding-left:25%; 
}
.asistenti img{padding:5%; padding-left:10%;}
.stavkea div{border:1px solid black; text-align: center;background-color: rgb(0, 0,0,0.4);}
